// colores de uso
$color_principal: #141e4fff;
$color_secundario: #ffd700ff;

//variables de transparencia
$color_principal_transparente: rgba(20, 30, 79, 0.733);
$color_secundario_transparente: rgba(255, 217, 0, 0.7);
$blanco_transparente: #ffffff79;
$negro_transparente: #c7c7c723;

//tamaños

$border_radius: 8px;
$border_radius_img: $border_radius * 4;
$blur: 10px;
